.firstrow
{
    display: grid;
    grid-template-columns: 1fr 100px 1fr 100px 1fr;
    margin-bottom: 50px;

}
.square
{
    height: 100px;
}
.secondrow
{
    display: grid;
    grid-template-columns: 1fr 100px 0.5fr 100px 0.5fr 100px 1fr;
}